In [1]:
!pip install recordlinkage

Requirement already satisfied: recordlinkage in c:\users\bookw\anaconda3\lib\site-packages (0.14)
Requirement already satisfied: scikit-learn>=0.19.0 in c:\users\bookw\anaconda3\lib\site-packages (from recordlinkage) (0.24.2)
Requirement already satisfied: joblib in c:\users\bookw\anaconda3\lib\site-packages (from recordlinkage) (0.14.1)
Requirement already satisfied: scipy>=1 in c:\users\bookw\anaconda3\lib\site-packages (from recordlinkage) (1.4.1)
Requirement already satisfied: pandas>=0.23 in c:\users\bookw\anaconda3\lib\site-packages (from recordlinkage) (1.2.2)
Requirement already satisfied: jellyfish>=0.5.4 in c:\users\bookw\anaconda3\lib\site-packages (from recordlinkage) (0.8.2)
Requirement already satisfied: numpy>=1.13.0 in c:\users\bookw\anaconda3\lib\site-packages (from recordlinkage) (1.21.1)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\bookw\anaconda3\lib\site-packages (from pandas>=0.23->recordlinkage) (2.8.1)
Requirement already satisfied: pytz>=2017.3 in c:\users\bookw\anaconda3\lib\site-packages (from pandas>=0.23->recordlinkage) (2019.3)
Requirement already satisfied: six>=1.5 in c:\users\bookw\appdata\roaming\python\python37\site-packages (from python-dateutil>=2.7.3->pandas>=0.23->recordlinkage) (1.15.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\bookw\anaconda3\lib\site-packages (from scikit-learn>=0.19.0->recordlinkage) (2.2.0)

WARNING: Ignoring invalid distribution -cipy (c:\users\bookw\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -cipy (c:\users\bookw\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -cipy (c:\users\bookw\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -cipy (c:\users\bookw\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -cipy (c:\users\bookw\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -cipy (c:\users\bookw\anaconda3\lib\site-packages)
WARNING: You are using pip version 21.1.3; however, version 21.2.4 is available.
You should consider upgrading via the 'c:\users\bookw\anaconda3\python.exe -m pip install --upgrade pip' command.

In [2]:
import pandas as pd
import recordlinkage

In [3]:
organization_dupes = pd.read_csv('new_input_file_edited.csv', index_col='Id')

In [4]:
organization_dupes.columns

Index(['address', 'canonical_name', 'city', 'country', 'country_code', 'id',
       'name', 'source', 'state', 'type', 'url'],
      dtype='object')

In [7]:
dupe_indexer = recordlinkage.Index()
dupe_indexer.sortedneighbourhood(left_on='country_code')
dupe_candidate_links = dupe_indexer.index(organization_dupes)

In [8]:
compare_dupes = recordlinkage.Compare()

compare_dupes.exact('country_code', 'country_code', label='organization_country_code')
compare_dupes.string('name',
                    'name',
                    threshold=0.80,
                     method='damerau_levenshtein',
                    label='organization_name')
compare_dupes.string('address',
                    'address',
                    threshold=0.85,
                     method='damerau_levenshtein',
                    label='organization_address')
compare_dupes.string('canonical_name',
                    'canonical_name',
                    threshold=0.85,
                    label='organization_canonical')
compare_dupes.exact('city', 'city', label='organization_city')

dupe_features = compare_dupes.compute(dupe_candidate_links, organization_dupes)

In [9]:
dupe_features.sum(axis=1).value_counts().sort_index(ascending=False)

5.0         949
4.0         100
3.0       14001
2.0      103087
1.0    34011855
0.0      494492
dtype: int64

In [10]:
potential_dupes = dupe_features[dupe_features.sum(axis=1) > 1].reset_index()
potential_dupes['Score'] = potential_dupes.loc[:, 'organization_name':'organization_city'].sum(axis=1)

In [11]:
potential_dupes

,Id_1,Id_2,organization_country_code,organization_name,organization_address,organization_canonical,organization_city,Score
0,2,1,1,0.0,0.0,1.0,0,1.0
1,3,1,1,1.0,1.0,1.0,0,3.0
2,3,2,1,0.0,0.0,1.0,0,1.0
3,4,1,1,0.0,0.0,1.0,0,1.0
4,4,2,1,1.0,1.0,1.0,0,3.0
...,...,...,...,...,...,...,...,...
118132,13908,13886,0,1.0,0.0,1.0,0,2.0
118133,13908,13888,0,1.0,0.0,1.0,0,2.0
118134,13908,13890,0,1.0,0.0,1.0,0,2.0
118135,13908,13892,0,1.0,0.0,1.0,0,2.0
118136,13908,13894,0,1.0,0.0,1.0,0,2.0

In [12]:
organization_dupes.loc[11906, :]

address                                            NaN
canonical_name                                 shaehan
city                                               NaN
country                                    South Korea
country_code                                        KR
id                fd3cd261-f835-4129-8d61-9b946895a0aa
name                                           SHAEHAN
source            9b50d4d5-6c83-4ae8-8c47-5f722e35a78b
state                                              NaN
type              905e0790-81a3-4396-acb6-e715ce483f6a
url                                                NaN
Name: 11906, dtype: object

In [13]:
organization_dupes.loc[10579, :]

address                  32-68, Oehang 1-gil,Gunsan-si
canonical_name                                 shaehan
city                                         Gunsan-si
country                      South Korea (Republic of)
country_code                                        KR
id                42e2a9a9-21ed-43bc-93cc-bb5720628d53
name                                           SHAEHAN
source            9b50d4d5-6c83-4ae8-8c47-5f722e35a78b
state                                              NaN
type              905e0790-81a3-4396-acb6-e715ce483f6a
url                                                NaN
Name: 10579, dtype: object

In [14]:
organization_dupes.loc[3, :]

address           24 Anns Nagar, KPN Colony, Tirupur-641601
canonical_name                          ahillapparelexports
city                                                    NaN
country                                               India
country_code                                             IN
id                     87bb8b6e-daab-4195-9042-19ca17b96555
name                          Ahill Apparel Exports PVT LTD
source                 48aca846-b7a8-4ecb-bf24-685395f1592a
state                                                   NaN
type                   905e0790-81a3-4396-acb6-e715ce483f6a
url                                                     NaN
Name: 3, dtype: object

In [15]:
organization_dupes.loc[1, :]

address           24 Anns Nagar, KPN Colony, Tirupur-641601
canonical_name                          ahillapparelexports
city                                                    NaN
country                                               India
country_code                                             IN
id                     87bb8b6e-daab-4195-9042-19ca17b96555
name                          Ahill Apparel Exports PVT LTD
source                 48aca846-b7a8-4ecb-bf24-685395f1592a
state                                                   NaN
type                   905e0790-81a3-4396-acb6-e715ce483f6a
url                                                     NaN
Name: 1, dtype: object

In [18]:
potential_dupes.sort_values(by=['Score'], ascending=False).head(50)

,Id_1,Id_2,organization_country_code,organization_name,organization_address,organization_canonical,organization_city,Score
31319,163,71,1,1.0,1.0,1.0,1,4.0
1193,145,13,1,1.0,1.0,1.0,1,4.0
1189,144,116,1,1.0,1.0,1.0,1,4.0
1187,144,104,1,1.0,1.0,1.0,1,4.0
1185,144,92,1,1.0,1.0,1.0,1,4.0
1183,144,76,1,1.0,1.0,1.0,1,4.0
1181,144,64,1,1.0,1.0,1.0,1,4.0
1179,144,52,1,1.0,1.0,1.0,1,4.0
1177,144,36,1,1.0,1.0,1.0,1,4.0
1175,144,24,1,1.0,1.0,1.0,1,4.0
1173,144,12,1,1.0,1.0,1.0,1,4.0
1170,143,127,1,1.0,1.0,1.0,1,4.0
1168,143,115,1,1.0,1.0,1.0,1,4.0
1166,143,103,1,1.0,1.0,1.0,1,4.0
1164,143,91,1,1.0,1.0,1.0,1,4.0
1162,143,75,1,1.0,1.0,1.0,1,4.0
1160,143,63,1,1.0,1.0,1.0,1,4.0
1158,143,51,1,1.0,1.0,1.0,1,4.0
1156,143,35,1,1.0,1.0,1.0,1,4.0
1191,144,128,1,1.0,1.0,1.0,1,4.0
1195,145,25,1,1.0,1.0,1.0,1,4.0
1152,143,11,1,1.0,1.0,1.0,1,4.0
1197,145,37,1,1.0,1.0,1.0,1,4.0
1232,146,130,1,1.0,1.0,1.0,1,4.0
1230,146,118,1,1.0,1.0,1.0,1,4.0
1228,146,106,1,1.0,1.0,1.0,1,4.0
1226,146,94,1,1.0,1.0,1.0,1,4.0
1224,146,78,1,1.0,1.0,1.0,1,4.0
1222,146,66,1,1.0,1.0,1.0,1,4.0
1220,146,54,1,1.0,1.0,1.0,1,4.0
1218,146,38,1,1.0,1.0,1.0,1,4.0
1216,146,26,1,1.0,1.0,1.0,1,4.0
1214,146,14,1,1.0,1.0,1.0,1,4.0
1211,145,129,1,1.0,1.0,1.0,1,4.0
1209,145,117,1,1.0,1.0,1.0,1,4.0
1207,145,105,1,1.0,1.0,1.0,1,4.0
1205,145,93,1,1.0,1.0,1.0,1,4.0
1203,145,77,1,1.0,1.0,1.0,1,4.0
1201,145,65,1,1.0,1.0,1.0,1,4.0
1199,145,53,1,1.0,1.0,1.0,1,4.0
1154,143,23,1,1.0,1.0,1.0,1,4.0
1150,142,126,1,1.0,1.0,1.0,1,4.0
1012,132,108,1,1.0,1.0,1.0,1,4.0
1107,138,110,1,1.0,1.0,1.0,1,4.0
1103,138,86,1,1.0,1.0,1.0,1,4.0
1101,138,70,1,1.0,1.0,1.0,1,4.0
1099,138,58,1,1.0,1.0,1.0,1,4.0
1097,138,46,1,1.0,1.0,1.0,1,4.0
1095,138,30,1,1.0,1.0,1.0,1,4.0
1093,138,18,1,1.0,1.0,1.0,1,4.0

In [19]:
organization_dupes.loc[71, :]

address           22 Km Ferozepur Road 3.8 Km Rohi Nala Moza Kac...
canonical_name                                                kamal
city                                                         Lahore
country                                                    Pakistan
country_code                                                     PK
id                             3e224f14-4de0-4f2a-bb9e-86e162bea744
name                                                  KAMAL LIMITED
source                         9b50d4d5-6c83-4ae8-8c47-5f722e35a78b
state                                                           NaN
type                           905e0790-81a3-4396-acb6-e715ce483f6a
url                                                             NaN
Name: 71, dtype: object

In [20]:
organization_dupes.loc[163, :]

address           22 Km Ferozepur Road 3.8 Km Rohi Nala Moza Kac...
canonical_name                                                kamal
city                                                         Lahore
country                                                    Pakistan
country_code                                                     PK
id                             3e224f14-4de0-4f2a-bb9e-86e162bea744
name                                                  KAMAL LIMITED
source                         9b50d4d5-6c83-4ae8-8c47-5f722e35a78b
state                                                           NaN
type                           905e0790-81a3-4396-acb6-e715ce483f6a
url                                                             NaN
Name: 163, dtype: object